h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New';
    font-size: 40px;
    color: olivedrab;
}

ul{
    text-align: center;
    font-family: 'Courier New';
    font-size: 30px;
    color: maroon;

}